{% extends 'base.html' %}
{% load humanize %}

{% block title %}
    Basket
{% endblock %}

{% block content %}
    <div class="jumbotron">
        {% if basket.set_products.exists %}
            <h3>Your basket has {{ basket.set_products.count }} product{{ basket.set_products.count|pluralize }} up to now!</h3>
            <br>
            <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <th class="tableCount">number</th>
                    <th>product name</th>
                    <th>price</th>
                </tr>
                {% for sp in basket.set_products.all %}
                    <tr>
                        <td class="tableCount">
                            <input type="text" value="{{ sp.counter }}" name="{{ sp.product.slug }}" readonly="true">
                            <input type="button" value=" - " class="minusProductButton" name="{{ sp.product.slug }}">
                            <input type="button" value=" + " class="plusProductButton" name="{{ sp.product.slug }}">
                            <input type="button" value="delete" class="deleteProductButton btn-warning" name="{{ sp.product.slug }}">
                        </td>
                        <td class="tableName"><a href="{{ sp.product.get_absolute_url }}">{{ sp.product.name }}</a></td>
                        <td class="tableCost"><p>{{ sp.counter }} * {{ sp.product.price|intcomma }} T.</p></td>
                    </tr>
                    {% if forloop.last %}
                        <tr>
                            <td class="tableCount">-</td>
                            <td class="tableName">-</td>
                            <td class="tableCost"><p><b>total price: </b>{{ basket.total_price|intcomma }} T.</p></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            <form method="post" action="#">
                {% csrf_token %}
                <input type="submit" value="Pay it!" class="btn btn-dark">
            </form>
        {% else %}
            <p>Your basket is empty!</p>
            <a href="{% url 'products:related_products_view' slug='all' %}">See all products.</a>
        {% endif %}
    </div>
{% endblock %}


{% block javascript %}
{#    <script>#}
        $('.deleteProductButton').click(function (e) {
            e.preventDefault();
            $.ajax({
                url: '{% url "products_api:remove_from_user_basket" %}',
                method: 'POST',
                data: {
                    product_slug: this.name,
                    product_count: 'all'
                },
                success: function (data) {
                    alert(data['message']);
                    location.reload(true);
                }
            })
        });

        $('.plusProductButton').click(function (e) {
            e.preventDefault();
            $.ajax({
                url: '{% url "products_api:add_to_user_basket" %}',
                method: 'POST',
                data: {
                    product_slug: this.name,
                },
                success: function (data) {
                    alert(data['message']);
                    location.reload(true);
                }
            })
        });

        $('.minusProductButton').click(function (e) {
            e.preventDefault();
            $.ajax({
                url: '{% url "products_api:remove_from_user_basket" %}',
                method: 'POST',
                data: {
                    product_slug: this.name,
                },
                success: function (data) {
                    alert(data['message']);
                    location.reload(true);
                }
            })
        })
{#    </script>#}
{% endblock %}

{% block stylesheet %}
    <style>
        table, th, td {
            border: 2px solid black;
            border-collapse: collapse;
            {#width: em;#}
        }
        .tableCount {
            text-align: center;
        }
        .tableName {

        }
        .tableCost {

        }
    </style>
{% endblock %}