{% extends 'base.html' %}


{% block title %}
    Sign-up
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="jumbotron">
                <form method="post" data-validate-username-url="{% url 'users_api:validate_username' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Sign Up">
                </form>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="jumbotron">
                {% include 'users/oauth_login_section.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{#    <script>#}
        $("#id_username").change(function () {
            var form = $(this).closest("form");
            $.ajax({
                url: form.attr("data-validate-username-url"),
                data: form.serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.is_taken) {
                        alert(data.error_message);
                        $("#id_username").val('');
                    }
                }
            });
        });
{#    </script>#}
{% endblock %}
